modules = ["python-3.12"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[workflows]
runButton = "Run Heart Predictor"

[[workflows.workflow]]
name = "Run Heart Predictor"
author = 45597060
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0 --server.port=5000"
